{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}

<div class="container-fluid px-0">
  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/event.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/band.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/main.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/tejas.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <body>
    <style>
      div.a{
        text-align: left;
      
        color: Blue;
      }
     
    </style>
    <div class="a">
      <h1>Event Management System</h1>
    </div>
    </body>
    <p>The Event Management System is a web-based application designed to simplify and automate the planning, organization, and coordination of events, such as conferences, workshops, seminars, weddings, parties, and corporate events. The system serves as a centralized platform where event organizers can manage event details, registrations, logistics, and communication. It aims to streamline the event planning process, enhance collaboration among stakeholders, and ensure a successful and memorable event experience.Our web-application is a full service event management firm based in Calgary. We bring a fresh, unique approach to the event management industry.
      Our team understands that a properly executed event can be leveraged to support an organization’s strategic vision, incorporated into a company’s marketing plan,
      or used to build networks and client loyalty.We approach every project with meticulous attention to detail and obsessive precision. Regardless of size and scope,
       we treat your event like a business with clear strategic goals, defined milestones, and a comprehensive plan to ensure that your event is delivered on time and on budget.
        We put your organization first. We learn about your business, we focus on your challenges, and we plan events to support your goals.</p>
    <div class="container text-center ">
      <div class="row row-cols-1">
        <div class="col"><h2>How It Works</h2>
          <div class="col"><h5>LEARN: WE WANT TO GET TO KNOW YOU</h5>
          <p>What is your business about? What are your challenges? What are the issues that your members or clients are dealing with? By thoroughly understanding your company’s leadership culture, how your organization operates and your long term strategic plans, we become a part of your team. Our model works best when we can become more than the “hired help” and can become strategic event management partners, so the first step for us is about getting to know you and your business.</p></div>
        <div class="col"><h5>BUILD: LET US DO THE HEAVY LIFTING.</h5>
          <p><center>Because we have taken the time to learn about your business and the goals of your event, you can rest assured that the event will be on target and in line with your objectives. Leave the planning and management to us. Let us look after the details and the heavy lifting that comes with planning a professional event. From our network of preferred vendors, industry connections and years of experience, we can deliver a full service event management experience. The Spark team is well equipped to deliver a world class event, each and every time. Your job is to run your business; our job is to run your event.</center></p>
       </div>
        <div class="col"><h5>DELIVER: SIT BACK. RELAX.</h2>
          <p><center>Finally, this is where our event management expertise comes into play. At our core, we love events. We love the on-site details, production plans, schedules, deadlines and to do lists that come along with managing an event. From meticulous management of facility details to AV, catering and on-site coordination, we ensure every detail is looked after. Managing your event using a strategic overall plan and a methodical management approach allows you to rest easy. Knowing that every last detail is looked after will allow you to focus on your attendees and stakeholders at the event. Let us look after the rest.</center></p>
       </div>

    </div>
  

    </div>
    <style>
      video {
      position: absolute;
      left:140px;
    
      top: 1350px;
      
      }
      </style>
      <style>
        h3 {
        position: absolute;
        left: 450px;
      
        top: 1290px;
        
        }
        
        </style>
      <h3>About Our Video</h3>
    <video width="1300" height="440" controls>
      
      <source src="/static/surabhi.mp4" type="video/mp4">
      
    </video>


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><div id="footer">
        <footer class="bg-light text-center text-lg-start">
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: skyblue;">
            © 2024 Copyright:
            <a class="text-dark" href="https://www.linkedin.com/in/yagneshwar-chinni/">team </a>
            <p>  </p>
            <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


      </div>
          </footer></div>
          <!-- Copyright -->
 
</div>
{% endblock body %}